* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  position: relative;
  /* background-color: #143d60; */
  background: linear-gradient(#833AB4, #E1306C, #FD1D1D, #F77737, #FCAF45);
  background-size: cover;
  background-position: center;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  overflow-y: auto;
}

section main {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

section main img {
  width: 100px;
  border-radius: 50px;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 1px teal;
}

section main h2 {
  text-align: center;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}

section main a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 5px;
  gap: 8px;
  transition: 0.3s;
}

section main a.tbl-biru {
/*   background: #3f72af; */
  background: linear-gradient(#eb5b00, #493d9e);
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

section main a:hover {
  background-color: white;
  color: #333;
}

section footer a i {
  font-size: 1.3em;
}

section footer p {
  color: white;
  font-weight: 600;
  font-size: 0.7em;
  padding: 20px;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}

section footer p .text {
  text-decoration: none;
}
